#pu2088.PamphletThumbSelected #u2089-4 p,#u2043-4
{
	font-family: open-sans-n7, sans-serif;
}

#u2058-4
{
	font-family: open-sans-n7, sans-serif;
}

#u2038-4
{
	font-family: open-sans-n7, sans-serif;
}

#u2862-4
{
	font-family: open-sans-n4, sans-serif;
}

#u2089-4
{
	font-family: open-sans-n7, sans-serif;
}

#u2061-4,#u2067-2,#u2067-4,#u2067-5
{
	font-family: open-sans-n8, sans-serif;
}

#u2067-7
{
	font-family: open-sans-n6, sans-serif;
}

#u2869-4,#widgetu5239.frm-sub-st #u5244-4 p,#widgetu5239.frm-subm-err-st #u5250-4 p,#widgetu5239.frm-subm-ok-st #u5263-4 p,#u5264-4
{
	font-family: open-sans-n3, sans-serif;
}

#u2091-4
{
	font-family: open-sans-n7, sans-serif;
}

#u1823-2,#u1823-4,#u1823-6,#u1823-8,#u1823-9,#u4362-4
{
	font-family: open-sans-n8, sans-serif;
}

#u1876.PamphletThumbSelected #u1877-4 p,#u1876.PamphletThumbSelected #u1877-4 span,#u1823-11,#u1823-13,#u1823-15,#u1877-4
{
	font-family: open-sans-n4, sans-serif;
}

#u1879-4
{
	font-family: open-sans-n7, sans-serif;
}

#u1853-45,#u1826-4
{
	font-family: open-sans-n4, sans-serif;
}

